.navbar ul a{
display:flexbox;
color:black;
text-decoration: none;
padding: 11px 20px;
border: 0;
background-color: white ;
}
/*.navbar{
  width:100%;
  background-color: black;
  margin:auto;
   display:flex;
   justify-content: space-between;
}*/
